* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

html {
    font-size: 80%; /* ajusta base para parecer com zoom 80% */
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* impede overflow causado pela imagem */
    position: relative;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain; /* evita que a imagem estoure o layout */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 2rem;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 2rem;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 1rem 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__texto {
    margin: 1rem 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 4.5rem;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 4rem;
    line-height: 1.1;
    padding-bottom: 3rem;
    word-break: break-word;
    max-width: 100%;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__paragrafo {
    font-size: 2rem;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

@media screen and (max-width: 1250px) {

    html {
        font-size: 70%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .container__botao {
        font-size: 1rem;
    }

    .texto__paragrafo {
        font-size: 1.5rem;
    }

    .container__imagem-pessoa {
        max-width: 150px !important;
        width: 150px !important;
        height: auto !important;
        object-fit: contain;
        display: block;
    }

    .container__conteudo {
        display: flex;
        align-items: center;
        position: relative; /* trocar de absolute para relative */
        gap: 1.5rem;
    }

    .container__informacoes {
        padding: 1rem;
    }
}
